body {
   background-color: aquamarine;
   padding: 0;
   margin: 0;
}

.game {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.buttons {
   display: flex;
   justify-content: space-between;
   width: 100vh;
}

button {
   background-color: black;
   color: antiquewhite;
   border-radius: 16px;
   padding: 16px;
   margin-top: 32px;
   font-size: 32px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}